In [1]:
import pandas as pd

In [2]:
first_series = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])

In [3]:
second_series = pd.Series([10,20,30,40,50], index=['c','e','f','g','h'])

In [4]:
sum= first_series+second_series

In [5]:
sum

a     NaN
b     NaN
c    13.0
d     NaN
e    25.0
f     NaN
g     NaN
h     NaN
dtype: float64

In [8]:
#drop NaN (Not a Number) values from dataset
dropNa = sum.dropna()

In [9]:
dropNa

c    13.0
e    25.0
dtype: float64

In [12]:
#fill NaN (Not a Number) values with Zeros(0) (or any other value)
fillNa= sum.fillna(0)

In [13]:
fillNa

a     0.0
b     0.0
c    13.0
d     0.0
e    25.0
f     0.0
g     0.0
h     0.0
dtype: float64

In [14]:
#fill values with zeros before performing addition operation for missing indices
fillNa_before_sum = first_series.add(second_series,fill_value=0)

In [15]:
fillNa_before_sum

a     1.0
b     2.0
c    13.0
d     4.0
e    25.0
f    30.0
g    40.0
h    50.0
dtype: float64